.logo{
    font-family: 'Inter', sans-serif;
    font-weight: black;
    color: #4E47FF;
    font-size: 34px;
    
}
.sign-up-button{
    color: #FFFFFF;
    background-color: #4E47FF;
    width: 132px;
    height: 48px;
    
    border-radius: 12px;
    
}
.nav-container{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 1140px;
    height: 150px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 0px;
}
.header{
   background-image: url('Hero-bg.png');
   height: 698px;
   max-width: 1440px;
   margin-inline: auto;

}
.hero{
    width: 905px;
    height: 227px;
    
    /* justify-content: center;
    align-items: center; */
   
    /* margin-top: 158px; */
    /* margin-bottom: 152px; */
    /* margin-right: 267.5px;
    margin-right: 267.5px; */
    /* Set width of the element (optional) */
    margin: 158px auto;

}
.hero-text{
    /* justify-content: center; */
    text-align: center;
    text-wrap: wrap;
}
.stay-focused-button{
    width: 174px;
    height: 48px;
    margin: auto;
    display: block;
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 14px;
}
.section-2{
    width: 1140px;
    height: 328px;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
}
.launch-live-preview{
    width: 229px;
    height: 48px;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 15px;

     
}
.section-2-text{
    width: 517px ;
    height: 203px ;
    

}
.text{
    text-wrap: wrap;
}
.img-1{
    border-radius: 30px;
}
.section-2-heading{
    font-weight: bold;
    font-size: 42px;
}
.text{
    font-weight: regular;
    font-size: 24px;
}
.section-3-kpi-heading-text{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    
    margin: 0px;

}
.section-3-kpi-text{
    font-size: 20px;
    font-weight: 400px;
    color: #000000;
    opacity: 50%;
    margin: 0px;
}
.section-3{
    width: 1140px;
    height: 406px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 116px auto;
    border-radius: 15px;
    
}
.kpi{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    margin: 75px;
    

}
.section-3-container{
    width: 856px;
    height: 250px;
    

    

    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}
.section-3-heading{
    font-size: 38px;
    font-weight: 600;
}
